.test {
    background-color: bisque !important;
}

.row-valid {
    background-color: rgb(0, 175, 0) !important;
}

.row-invalid {
    background-color: orange !important;
}

.selected {
    background-color: burlywood !important;
}

.selectable-line{
    cursor: pointer;
}
