<main class="content" fxLayout="column">
  <!-- <div style="overflow:auto"> -->
  <!-- <div style="height: inherit;"> -->
  <div fxLayout="row" style="display: inline-flex;">
    <app-kles-dynamic-form #form direction="row" [fields]="fields" [validators]="formValidators">
    </app-kles-dynamic-form>
    <span *ngIf="isLoading">
      <mat-spinner diameter="30">
      </mat-spinner>
    </span>
  </div>

  <ng-container #table klesTable [tableConfig]="tableConfig" [lines]="lines">
  </ng-container>
  <!-- </div> -->
</main>