<main class="content" fxLayout="column">
  <div fxLayout="row" style="display: inline-flex; align-self: center;">
    <app-kles-dynamic-form #formFile direction="column" [fields]="fieldsFile" [validators]="formValidatorsFile">
    </app-kles-dynamic-form>
    <span *ngIf="isLoadingFile">
      <mat-spinner diameter="30">
      </mat-spinner>
    </span>
  </div>
  <div fxLayout="row" style="justify-content:center">
    <button mat-button (click)="french()">Dynamically switch to French</button>
  </div>
  <div fxLayout="row" style="display: inline-flex;">
    <app-kles-dynamic-form #formTable direction="row" [fields]="fieldsTable" [validators]="formValidatorsTable">
    </app-kles-dynamic-form>
    <span *ngIf="isLoading">
      <mat-spinner diameter="30">
      </mat-spinner>
    </span>
  </div>

  <mat-tab-group>
    <!-- <mat-tab label="Table">
      <ng-container #table klesTable [tableConfig]="tableConfig" [lines]="lines" [footer]="footer">
      </ng-container>
    </mat-tab>
    <mat-tab label="Lazy Table"> Content 2 </mat-tab>
    <mat-tab label="TreeTable">
      <ng-container *ngIf="lines$ | async as treeLines else loading" #treetable klesTreetable
        [tableConfig]="treeTableConfig" [lines]="treeLines" (_onSelected)="onSelected($event)">
      </ng-container>
    </mat-tab> -->
    <mat-tab label="Lazy TreeTable">
      <ng-container #treetablelazy klesTreetable
        [tableConfig]="treeTableConfigLazy">
      </ng-container>
    </mat-tab>
  </mat-tab-group>

  <ng-template #loading>
    <div>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</main>